teX/
old_course/
code/plots/
code/.ipynb_checkpoints/
code/zibaldone/visualizations_advanced_neural_network.py
code/zibaldone/ADVANCED_VISUALIZATIONS_GUIDE.md
code/zibaldone/VISUALIZATIONS_GUIDE.md
code/zibaldone/visualizations_neural_network.py
code/no_notebook/mnist_model.h5
